{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}{% endblock %} - Restock Ninja</title>

        <!-- Custom fonts for this template -->
        <link href="{% static 'css/fonts/style.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        {% block style %}{% endblock %}

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
    </head>

    <body>
        <div class="navbar">
            <a class="brand" href="/">
                <div class="brand-wrap">
                    <img src="{% static 'img/logo-32.png' %}">
                    Restock Ninja
                </div>
            </a>

            <img class="menu-button" src="{% static 'img/arrow.png' %}">

            <form class="searchbar" action="{% url 'search' %}" method="get">
                <input type="text" name="query" minlength=3 required placeholder="Initiate search sequence...">
                <button type="submit">Go</button>
            </form>
        </div>

        <div class="content">{% block content %}{% endblock %}</div>

        <footer>
            &copy; Restock Ninja {% now "Y" %}. All Rights Reserved.
        </footer>

        <!-- Global scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="{% static 'js/script.js' %}"></script>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>
        {% block script %}{% endblock %}
    </body>
</html>