{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80074533-4"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-80074533-4');
        </script>
        
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
        <meta name="description" content="Check availability and compare prices of popular items for sale at major online retailers like Walmart, Best Buy, and Target with one simple search.">
        <title>{% block title %}{% endblock %} - Restock Ninja</title>

        <!-- Opengraph meta -->
        <meta property="og:url" content="https://restock.ninja">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Check Availability and Compare Prices - Restock Ninja">
        <meta property="og:description" content="Check availability and compare prices of popular items for sale at major online retailers like Walmart, Best Buy, and Target with one simple search.">
        <meta property="og:image" content="{% static 'img/logo-300.png' %}">

        <!-- Twitter meta -->
        <meta name="twitter:site" content="@restockninja">
        <meta name="twitter:url" content="https://restock.ninja">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Check Availability and Compare Prices - Restock Ninja">
        <meta name="twitter:description" content="Check availability and compare prices of popular items for sale at major online retailers like Walmart, Best Buy, and Target with one simple search.">
        <meta name="twitter:image" content="{% static 'img/logo-300.png' %}">

        <!-- Custom fonts for this template -->
        <link href="{% static 'css/fonts/style.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

        <!-- Custom styles for this template -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        {% block style %}{% endblock %}

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
    </head>

    <body ontouchstart="">
        <div class="navbar">
            <a class="brand" href="/">
                <div class="brand-wrap">
                    <img src="{% static 'img/logo-32.png' %}">
                    Restock Ninja
                </div>
            </a>

            <img class="menu-button" src="{% static 'img/arrow.png' %}">

            <form class="searchbar" action="{% url 'search' %}" method="get">
                <input type="text" name="query" minlength=3 required placeholder="Enter product URL or keywords">
                <button type="submit">Go</button>
            </form>
        </div>

        <div class="content">{% block content %}{% endblock %}</div>

        <footer>
            &copy; Restock Ninja {% now "Y" %}. All Rights Reserved.
        </footer>

        <!-- Global scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="{% static 'js/script.js' %}"></script>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>
        {% block script %}{% endblock %}
    </body>
</html>