.breadcrumbs {
    font-size: .8rem;
}

h1, h2 {
    font-weight: 400;
}

h2 {
    margin-top: 40px;
}

/* Image carousel */
.slick-initialized .slick-slide {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.image-carousel {
    position: relative;
    box-shadow: 0 2px 6px #6C7A89;
    max-width: 1000px;
    max-height: 500px;
    margin-top: 20px;
    background-color: white;
}

.product-images {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.product-images img {
    visibility: hidden;
    margin: 0 auto;
    max-height: 460px;
    max-width: 100%;
}

.product-images.slick-initialized img {
    visibility: visible;
}

.prev, .next {
    display: block;
    position: absolute;
    top: 50%;
    background: rgba(255,255,255,.5);
    border-radius: 10px;
    padding: 10px 0;
    cursor: pointer;
}

.prev {
    transform: translateY(-50%) rotate(180deg);
}

.next {
    right: 0;
    transform: translateY(-50%);
}

.slick-dots {
    left: 0;
}

.slick-dots li.slick-active button:before, .slick-dots li button:before {
    color: #363D44;
}

/* Listing table */
.listing-table {
    margin-bottom: -20px;
}

.listing-row {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 6px #6C7A89;
    padding: 30px;
    margin-bottom: 20px;
    width: calc(100% - 40px);
    max-width: 500px;
}

.listing-cell {
    display: inline-block;
    font-size: .9rem;
    line-height: 1.25rem;
    vertical-align: middle;
    text-align: center;
}

.vendor-logo {
    width: 120px;
    vertical-align: middle;
}

.listing-status {
    width: 80px;
}

span.available {
    color: green;
}

span.unavailable {
    color: #868A8E;
}

.buy-button {
    cursor: pointer;
    font-size: 1rem;
    width: 60px;
    height: 40px;
    border: 1px solid #6C7A89;
}

button.available {
    background-color: green;
    color: white;
}

button.unavailable {
    background-color: #D2D7DB;
}

@media screen and (max-width: 600px) {
    .listing-row {
        padding: 20px;
    }

    .vendor-logo {
        width: 80px;
    }

    .listing-update {
        display: none;
    }
}

/* Variants */
.cards {
    justify-content: flex-start;
    max-width: 1000px;
    margin: -10px;
}