.breadcrumbs {
    font-size: .8rem;
}

h1, h2 {
    font-weight: 400;
}

h2 {
    margin-top: 40px;
}


/* Image carousel */
.slick-initialized .slick-slide {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.image-carousel {
    position: relative;
    box-shadow: 0 2px 6px #6C7A89;
    max-width: 1000px;
    max-height: 500px;
    margin-top: 20px;
    background-color: white;
}

.product-images {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.product-images img {
    visibility: hidden;
    margin: 0 auto;
    max-height: 460px;
    max-width: 100%;
}

.product-images.slick-initialized img {
    visibility: visible;
}

.prev, .next {
    display: block;
    position: absolute;
    top: 50%;
    background: rgba(255,255,255,.5);
    border-radius: 10px;
    padding: 10px 0;
    cursor: pointer;
}

.prev {
    transform: translateY(-50%) rotate(180deg);
}

.next {
    right: 0;
    transform: translateY(-50%);
}

.slick-dots {
    left: 0;
}

.slick-dots li.slick-active button:before, .slick-dots li button:before {
    color: #363D44;
}


/* Alerts and availability */
.alert-wrapper {
    display: flex;
}

/* Tooltips */
.tooltip {
    font-size: 1rem;
    display: inline-block;
    position: relative;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    font-size: .9rem;
    text-align: center;
    width: 200px;
    background-color: rgba(54,61,68, .9);
    color: #fff;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: calc(50% - 100px);
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

/* Listing table */
.listing-table {
    width: 50%;
    max-width: 470px;
    margin-bottom: -20px;
}

.listing-row {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 6px #6C7A89;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
}

.listing-cell {
    display: inline-block;
    font-size: .9rem;
    line-height: 1.25rem;
    vertical-align: middle;
    text-align: center;
}

.vendor-logo {
    width: 100px;
    vertical-align: middle;
}

.listing-status {
    padding: 0 10px;
}

span.available {
    color: green;
}

span.unavailable {
    color: #868A8E;
    word-wrap: ;
}

.buy-button {
    cursor: pointer;
    font-size: 1rem;
    width: 60px;
    padding: 10px 0;
    border: 1px solid #6C7A89;
}

button.available {
    background-color: green;
    color: white;
}

button.unavailable {
    background-color: #D2D7DB;
}

/* Alert table */
.alert-table {
    width: 50%;
    max-width: 470px;
    margin-left: 20px;
}

.alert-table form {
    display: flex;
}

.alert-field {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.email-field {
    flex-grow: 1;
}

.alert-label {
    height: 20px;
}

.alert-input {
    margin-top: 10px;
}

#id_email, #id_email_frequency, #id-submit {
    font-size: 1rem;
    padding: 0 10px;
    height: 40px;
    border: 1px solid #6C7A89;
    box-sizing: border-box;
    border: 1px solid #6C7A89;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    -moz-appearance: none;
    -moz-border-radius: 0px;
}

#id_email, #id_email_frequency {
    border-right: none;
}

#id_email {
    width: 100%;
}

#id_email_frequency {
    width: 121px;
    background-color: white;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='%23444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

#id-submit {
    background-color: #D2D7DB;
    align-self: flex-end;
}


/* Variants */
.cards {
    max-width: 1000px;
}


/* Screens smaller than 900px wide */
@media screen and (max-width: 900px) {
    .alert-wrapper {
        flex-wrap: wrap;
    }

    .listing-table, .alert-table {
        width: 100%;
    }

    .alert-table {
        margin: 0;
    }
}


/* Screens smaller than 500px wide */
@media screen and (max-width: 500px) {
    .tooltip {
        position: inherit;
    }

    .tooltip .tooltiptext {
        top: inherit;
    }

    .alert-table form {
        flex-wrap: wrap;
    }

    .email-field {
        width: 100%;
    }

    #id_email {
        border: 1px solid #6C7A89;
        margin-bottom: 10px;;
    }
}


/* Screens smaller than 400px wide */
@media screen and (max-width: 400px) {
    .vendor-logo {
        width: 80px;
    }

    .listing-update {
        display: none;
    }
}