{% extends 'base.html' %}

{% load static %}

{% block title %}Search: {{ request.GET.query }}{% endblock %}

{% block style %}{% endblock %}

{% block content %}
{% if products %}
<div class="cards">
    {% for product in products %}
    <a class="content-card" href="{% url 'product-detail' product.slug product.tag %}">
        <div class="thumbnail">
            <img src="{{ product.thumbnail }}">
        </div>
        {{ product.name }}
    </a>
    {% endfor %}
</div>

{% else %}
<div class="content-box">
    Sorry, no items matched your search. Please try again or enter a link to add a new item.
</div>
{% endif %}
{% endblock %}