{% extends 'base.html' %}

{% load static %}

{% block title %}Search: {{ request.GET.query }}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'search/css/style.css' %}"/>
{% endblock %}

{% block content %}
{% if products %}
<h2 class="lead">Tracked Products</h2>
<div class="cards">
    {% for product in products %}
    <a class="content-card" href="{% url 'product-detail' product.slug product.pk %}">
        <div class="thumbnail"><img src="{{ product.thumbnail }}"></div>
        <div class="title">{{ product.name }}</div>
    </a>
    {% endfor %}
</div>

{% else %}
<div class="container content-box">
    We aren't currently tracking any items that match your search. Please choose one below or enter a link to add a new item.
</div>
{% endif %}

{% if results %}
{% for store, items in results.items %}
{% if items %}
<h2>{{ store }}</h2>
<div class="cards">
    {% for item in items %}
    <a class="content-card" href="{% url 'search' %}?store={{ store}}&sku={{ item.listing.sku }}">
        <div class="thumbnail"><img src="{{ item.product.thumbnail }}"></div>
        <div class="title">{{ item.product.name }}</div>
    </a>
    {% endfor %}
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}