@font-face {
    font-family: 'Gochi Hand';
    src: url('/static/css/fonts/gochihand-regular-webfont.woff2') format('woff2'),
         url('/static/css/fonts/gochihand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}