h1 {
    font-family: 'Gochi Hand', cursive;
    font-size: 2.5rem;
    margin: 0;
    word-break: break-word;
}

p {
    margin: 20px 0 0 0;
}

.big-arrow {
    float: right;
    width: 150px;
}

.social {
    padding: 0;
    margin: 20px 0 0 0;
    text-align: center;
}

.social li {
    display: inline-block;
    vertical-align: top;
}

.social li:not(:last-child) {
    margin-right: 15px;
}

/* Onboarding */
.cards {
    justify-content: space-between;
}

.content-card {
    text-align: center;
}

i {
    font-size: 4.5rem;
}

h3 {
    font-size: 2rem;
    font-family: "Gochi Hand";
    margin: 20px 0;
}
